<%# /views/homepage/index.html.erb %>

<body>

<div class="header">

	<div class="user-info">
		<%= form_for(:login) do |f| %>
			<%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>

			<% if session[:isAuthenticated] %>
				<ul>
					<li><%= session[:username] %></li>
					<li><%= session[:role] %></li>
				</ul>
			<% else %>
				<table>
					<tr>
						<td><%= f.label :username %></td>
						<td><%= f.text_field :username %></td>
					</tr>
					<tr>
						<td><%= f.label :password %></td>
						<td><%= f.password_field :password %></td>
					</tr>
					<tr>
						<td></td>
						<td><%= f.submit "Sign In" %> <%= link_to "registration", users_registration_path %></td>
					</tr>

					<tr>
						<td></td>
						<td><%= flash[:notice] %></td>
					</tr>
				</table>
			<% end %>
		<% end %>
	</div>

</div>

<h6><%= flash[:registration_status] %></h6>
<h1>Welcome to ShopCommCanada!</h1>

<div class="product-listings">
	<h3>Products of the Day</h3>

	<img src="http://www.imore.com/sites/imore.com/files/styles/large/public/topic_images/2014/topic_ipad_air_ipad_mini_0.png?itok=053pCsJ2height="300" width="300" alt="" />

	<img src="http://store.storeimages.cdn-apple.com/4428/as-images.apple.com/is/image/AppleInc/aos/published/images/i/ph/iphone5c/selection/iphone5c-selection-hero-2013?wid=300&hei=300&fmt=png-alpha&qlt=95&.v=1410266073112height="300" width="300" alt="" />

	<img src="http://www.imore.com/sites/imore.com/files/styles/large/public/topic_images/2014/topic_ipad_air_ipad_mini_0.png?itok=053pCsJ2height="300"" width="300" alt="" />

</div>

</body>