<%# /views/users/index.html.erb %>

<body>

<%= content_tag(:table) do %>
	<%= draw_user_role_columns('Username', 'Firstname', 'Lastname', 'Role')  %>
	<tbody>
		<% @users.each do |user| %>
			<tr>
				<td><%= user.username %></td>
				<td><%= user.firstname %></td>
				<td><%= user.lastname %></td>		
				<td><%= user.role.role %></td>
				<td><%= link_to "Delete", user, method: :delete, data: {confirm: "This will permanently delete the user from the database. Do you want to continue?"} %></td>
			</tr>
		<% end %>
	</tbody>
<% end %>

	<%= link_to "Back", :administrations %>
</body>