<%# /views/users/new.html.erb %>

<body>

<p><%= link_to "Back to Homepage", root_path %></p>
<h1>Registration</h1>

<% if @user.errors.any? %>
	<ul class="signup_errors">
		<% for message_error in @user.errors.full_messages %>
			<li>* <%= message_error %></li>
		<% end %>
	</ul>
<% end %>

<div class="registration_form">
	<%= form_for(:user) do |f| %>
		<p> Username <%= f.text_field :username %> </p>
		<p> First Name <%= f.text_field :firstname %> </p>
		<p> Last Name <%= f.text_field :lastname %> </p>
		<p> Password <%= f.password_field :password %> </p>
		<p> Password Confirmation <%= f.password_field :password_confirmation %> </p>
		<p> Email <%= f.text_field :email %> </p>
		<%= f.submit :Signup %>
	<% end %>
</div>

</body>