<body>

<h1>Administration</h1>

<%# http://stackoverflow.com/questions/8907867/can-someone-explain-collection-select-to-me-in-clear-simple-terms %>
<div id="role-assignment">
  <h3>Assign role to user</h3>
  <%= form_for(:user, controller: :administrations, action: :edit, method: :put) do |f| %>
    <p> Username <%= f.text_field :username %> </p>
    <%= collection_select(:role, :role_id, Role.where(id: [2,3]), :id, :name_with_initial, prompt: true) %>
    <%= f.submit 'Assign Role' %>
  <% end %>
  <p><%= link_to "Display list of unassigned users", :users %></p>
</div>

<h3>Users with assigned roles</h3>
<%= content_tag(:table) do %>
  <%= draw_user_role_columns %>
  <% @user_list.each do |user| %>
    <tr>
      <td><%= user.username %></td>
      <td><%= user.firstname %></td>
      <td><%= user.lastname %></td>
      <td><%= user.role.role %></td>
      <td><%= link_to "unassign", user, method: :unassign %></td>
      <td><%= link_to "delete", user, method: :delete, data: {confirm: "This will permanently delete the user from the database. Do you want to continue?"} %></td>
    </tr>
  <% end %>
<% end %>

</body>