<body>

<h1>Product Management</h1>
<h3>Vendor: <%= @vendor or "Unassigned" %> </h3>

<%= form_for(:products, url: product_management_path, action: :new) do |f| %>
	<p> Product Name <%= f.text_field :name %> </p>
	<p> Price <%= f.number_field :price, value: 0 %> </p>
	<p> Brand <%= collection_select(:brand, :brand_id, Brand.all, :id, :brand_name) %> </p>
	<p> Category <%= collection_select(:category, :category_id, @categories, :id, :category_name) %> </p>

	<%= submit_tag "Add to Products" %>
<% end %>

<%# display all products being sold by a user %>
<table>
	<thead>
		<th>ID</th>
		<th>Product</th>
		<th>Quantity</th>
		<th></th>
	</thead>
	<tbody>
		<td>123</td>
		<td>IPhone 9</td>
		<td><%= text_field(:post, :quantity, size: 3, value: 1) %></td>
		<td>Delete</td>
	</tbody>
</table>

</body>