<body>

<h1>Product Management</h1>
<h3>Vendor: <%= @vendor_name or "Unassigned" %> </h3>

<%= form_for(:products, url: product_management_path, action: :new) do |f| %>
	<p> Product Name <%= f.text_field :name %> </p>
	<p> Price <%= f.number_field :price, value: 0 %> </p>
	<p> Brand <%= collection_select(:brand, :brand_id, Brand.all, :id, :brand_name) %> </p>
	<p> Category <%= collection_select(:category, :category_id, @categories, :id, :category_name) %> </p>

	<%= submit_tag "Add to Products" %>
<% end %>

<%# display all products being sold by vendor corresponding to user %>
<table>
	<thead>
		<tr>
			<th>Products</th>
			<th>Brand</th>
			<th>Category</th>
			<th>Quantity</th>
			<th>Unit Price</th>
		</tr>
	</thead>
	<tbody>
		<% @vendor_inventory_products.each do |inventory_product| %>
			<tr>
				<td><%= inventory_product.product.name %></td>
				<td><%= inventory_product.product.brand.name %></td>
				<td><%= inventory_product.product.category.name %></td>
				<td><%= inventory_product.quantity %></td>
				<td><%= inventory_product.unitprice %></td>
			</tr>
		<% end %>
	</tbody>
</table>

</body>