<!DOCTYPE html>
<html>
<head>
  <title>ShopCommCanada</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if session[:isAuthenticated] %>
	<p><%= link_to "Back to Homepage", root_path %></p>
	<p><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></p>
	<div class="navigation-bar">
		<ul>
			<% if session[:role] == "Site Administrator" || session[:role] == "Vendor Administrator" %>
				<li><%= link_to "Administration", administrations_path %></li>
			<% end %>
			<% if session[:role] != "User" %>
				<li><%= link_to "Product Management", product_management_path %></li>
			<% end %>
			<li><%= link_to "Products", products_path %></li>
			<li><%= link_to "Purchase History", purchase_history_path %></li>
		</ul>
	</div>
<% end %>

<%= yield %>

</body>
</html>
